<?xml version="1.0" encoding="utf-8"?>
<Theme Version="1.7.0">
  <HudOptions>
    <RefreshRate>2</RefreshRate>
  </HudOptions>
  <HudPosition>
    <Docked>True</Docked>
    <Anchor>2</Anchor>
    <OffsetX>0</OffsetX>
    <OffsetY>0</OffsetY>
  </HudPosition>
  <HudDimensions>
    <Width>290</Width>
    <Height>395</Height>
  </HudDimensions>
  <InspectPane>
    <Modify>True</Modify>
    <AddLog>True</AddLog>
    <Height>255</Height>
    <MinTabs>7</MinTabs>
    <TabWidth>82</TabWidth>
  </InspectPane>
  <Text>
    <Regular>
      <Size>12</Size>
      <Height>100</Height>
    </Regular>
    <Large>
      <Size>3</Size>
      <Height>150</Height>
    </Large>
    <Small>
      <Size>-1</Size>
      <Height>100</Height>
    </Small>
    <LabelWidth>95</LabelWidth>
    <ValueWidth>40</ValueWidth>
    <ShowDecimals>True</ShowDecimals>
  </Text>
  <Letters>
    <Padding>4</Padding>
    <Compress>True</Compress>
  </Letters>
  <HudColors>
    <MainText>FFFFFFFF</MainText>
    <Disabled>808080FF</Disabled>
    <Critical>FF3333FF</Critical>
    <Warning>FFE61AFF</Warning>
    <Info>999999FF</Info>
    <Good>66CCCCFF</Good>
    <Excellent>66CC33FF</Excellent>
    <BarBackground>333333FF</BarBackground>
    <BarMain>409900FF</BarMain>
    <BarLow>990000FF</BarLow>
    <BarThreshold>000000BF</BarThreshold>
    <SelectorText>FFFFFFFF</SelectorText>
    <SelectorBackground>4F5254FF</SelectorBackground>
    <Line>CCCCCC66</Line>
  </HudColors>
  <FactionColors>
    <Own>FFFFFFFF</Own>
    <Allied>0080FFFF</Allied>
    <Independent>66E6FFFF</Independent>
    <Hostile>FF1A00FF</Hostile>
    <Wild>CC8033FF</Wild>
  </FactionColors>
  <SkillColors>
    <MinorPassion>FFE6B2FF</MinorPassion>
    <MajorPassion>FFCC66FF</MajorPassion>
    <Saturated>FFCCCCFF</Saturated>
    <Active>E6FFB2FF</Active>
  </SkillColors>
  <Integration.Mod_PawnRules />
</Theme>